<h2>Island listing</h2>
<table>
  <thead>
    <tr>
      <th>Island</th>
      <th class="number-column">Price</th>
      <th class="number-column">Local time</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let island of islandData | async">
      <td>{{island.name}}</td>
      <td class="number-column">{{island.price}}</td>
      <td class="number-column">{{island.date | date}}</td>
      <td>{{island.description}}</td>
      <td><button type="button" [routerLink]="['islands',island.key]">Enqueue</button></td>
    </tr>
  </tbody>
</table>

<button routerLink="/islands/new">New</button>
