<div *ngIf="islandData | async as island">
  <div>{{ island.name }}</div>
  <div class="number-column">{{ island.price }}</div>
  <div class="number-column">{{ island.date | date }}</div>
  <div>{{ island.description }}</div>
  <div><button type="button" (click)="queue(island.key)">Queue</button></div>

  <ng-container *ngIf="queueData | async as queue">
    <ng-container *ngIf="queue.myQueue || queue.myQueue === null">
      <h2>Manage your queue:</h2>
      <p>{{ queue.myQueue.length }} in the queue</p>
      <div *ngFor="let item of queue.myQueue; index as i">
        {{ i + 1 }}. {{ item.value | json }} <button (click)="remove(island.key, item.value.uid)">Remove</button>
      </div>
    </ng-container>
    <ng-container *ngIf="!queue.myQueue">
      <h2>Queue Data</h2>
      <div *ngIf="queue.status === 'ready'" style="font-size: 2em; color: red;">
        It's your turn! Join with code: {{ queue.code }}
      </div>

      <div>Queue Length: {{ queue.queueLength }}</div>
      <div *ngIf="queue.status !== 'not-queued'">
        Queue Position: {{ queue.position }}
        <div><button (click)="remove(island.key)">Leave the queue</button></div>
      </div>
    </ng-container>
  </ng-container>
</div>
